---
import { asset } from "../utils/base";
---

<div class="title mt-12 text-center" data-aos="fade-up">
  <h1 class="text-4xl font-extralight text-secondary md:text-7xl">Clientes</h1>
  <p class="mt-2 text-xl font-extralight text-white">
    Algunos de nuestros clientes satisfechos
  </p>
</div>
<div
  class="client mt-8 flex flex-col items-center justify-center gap-8 bg-secondary md:flex-row"
>
  <div class="client-logos flex flex-row gap-8 p-8">
    <a href="#">
      <img
        src={asset("img/techshop.png")}
        alt=""
        class="w-[150px] bg-contain"
      />
    </a>
  </div>
  <div class="client-logos flex flex-row gap-8 p-8">
    <a
      href="https://a4arquitectos.com.mx"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src={asset("img/1.png")} alt="" class="w-[150px] bg-contain" />
    </a>
  </div>
  <div class="client-logos flex flex-row gap-8 p-8">
    <a
      href="https://casaurbana.com.mx"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src={asset("img/2.png")} alt="" class="w-[150px] bg-contain" />
    </a>
  </div>
  <div class="client-logos flex flex-row gap-8 p-8">
    <a
      href="https://procapitalmzt.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src={asset("img/3.png")} alt="" class="w-[150px] bg-contain" />
    </a>
  </div>
  <div class="client-logos flex flex-row gap-8 p-8">
    <a
      href="https://propescaguaymas.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src={asset("img/propesca.png")}
        alt=""
        class="w-[150px] bg-contain"
      />
    </a>
  </div>
</div>
